extends layout

block content
    section(class="hero is-large is-dark")
        div(class="hero-body")
            div(class="container")
                h1.title My PCs
    section.section
        div.container
            p.has-text-white Check out my setups. They have links to PCs.


