extends layout

block content
    section(class="hero is-large is-dark")
        div(class="hero-body")
            div(class="container")
                h1.title="My Setups"
    section.section
        div.container
            div.columns
                div.column
                    div.card
                        div.card-image
                            figure.image.is-4by3
                                img(src="/images/11_06_2020_setup.jpg")
                        div.card-content
                            p.title="11/06/2020"
                            div.content
                                | Monitors: 28" ViewSonic VX2858Sml 1080p 60hz 6.50ms <br>
                                |   21.5" Dell E2218HN 1080p 60hz 5ms <br>
                                | PC: <a href="pc/firstpc">First PC</a> <br>
                                | <a href="gear/2020">Other Gear</a>
                div.column
                    div.card
                        div.card-image
                            figure.image.is-4by3
                                img(src="/images/11_29_2020_setup.jpg")
                        div.card-content
                            p.title="11/29/2020"
                            div.content
                                | Monitors: 28" ViewSonic VX2858Sml 1080p 60hz 6.50ms <br>
                                | PC: <a href="pc/firstpc">First PC</a> <br>
                                | <a href="gear/2020">Other Gear</a>
                div.column
                    div.card
                        div.card-image
                            figure.image.is-4by3
                                img(src="/images/12_01_2020_setup.jpg")
                        div.card-content
                            p.title="12/01/2020"
                            div.content
                                | Monitors: 28" ViewSonic VX2858Sml 1080p 60hz 6.50ms <br>
                                | PC: <a href="pc/firstpc">First PC</a> <br>
                                | <a href="gear/2020">Other Gear</a>